---
import ClientPage from '../../components/pages/ClientPage';
import '../globals.css';
---

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Гипнотерапия для бизнесменов - GIPNOZIO</title>
    <meta name="description" content="Эксклюзивный формат трансформации для тех, кто готов услышать свое подсознание. Работа с Романом Третьяковым.">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body class="bg-light text-dark-accent antialiased">
    <ClientPage client:load />
</body>
</html>
